@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

* {
  scroll-behavior: smooth;
}

@theme {
  --color-main: #081119;
  --color-secondary: #6ae3d4;
  --color-border: #293d4c;
  --color-card: #0f1d28;
  --color-contact: #102e35;
  --color-bg: #0f1d28;
}
